<% provide(:title, 'All Users') %>
<h1>ユーザー一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <%= form_tag import_users_path(format: :csv), multipart: true do %>
    <%= file_field_tag :file, class: "btn btn-default" %>
    <%= submit_tag "CSVをインポート", class: "btn btn-md btn-primary btn-width" %>
  <% end %>
  <table id="table-users">
    <ul>Example</ul>
    <% @users.each do |user| %>
      <%= render user %>
    <% end %>
  </table>
</div>