<% provide(:title, 'All Users') %>
<h1>ユーザー一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table id="table-users">
    <thead>
      <tr>
        <th>Example</th>
        <th></th>
      </tr>
    </thead>

    <% @users.each do |user| %>
      <ul class="users">
        <%= render @users %>
      </ul>
    <% end %>
  </table>
  <%= will_paginate %>
</div>