/* 基本情報編集モーダルウインドウ */

#table-overtime-request {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

.overtime-request {
  margin-top: 5px;
}

.btn-overtime-request {
  margin: 15px 0;
  width: 60%;
}