
/* 拠点情報入力フォーム */

.label-base-info {
  margin-top: 5px;
}

.btn-base-info {
  margin-top: 10px;
}

/* 拠点情報編集フォーム */

.label-base-update {
  margin-top: 5px;
}

.btn-base-update {
  margin-top: 10px;
}