/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
  margin-top: 10px;
}

/* 出勤中社員一覧テーブル */

#table-index_attendance {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}


/* ユーザー勤怠情報テーブル */

#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* ユーザー一覧ページ */

#table-users{
  td{vertical-align: middle;
  }
}

li{
  list-style:none;
  margin-top: 10px;
}

/* ユーザーアコーディオン */ 

.label-basic-info{
  margin-top: 5px;
}

.btn-basic-info{
  margin-top: 10px;
}


/* 拠点情報入力フォーム */

.label-base-info {
  margin-top: 5px;
}

.btn-base-info {
  margin-top: 10px;
}

/* 拠点情報編集フォーム */

.label-base-update {
  margin-top: 5px;
}

.btn-base-update {
  margin-top: 10px;
}

/* 通知ボタン */ 

.notification{
  color: #000000;
}